body { 
  background-color: #ded097;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
 
  font-size: 14px;
  overflow: hidden;   
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 200px);     
  min-width: 1024px;
  max-width: 1280px;  
}
